.icon-grunticons { background-image: url('png/grunticons.png'); background-repeat: no-repeat; }

.icon-pulse { background-image: url('png/pulse.png'); background-repeat: no-repeat; }

.icon-storage-image { background-image: url('png/storage-image.png'); background-repeat: no-repeat; }

